$orangeCrayola: rgb(255, 110, 48);
$orangePearlescent: rgb(188, 87, 43);
$orangeTitian: rgb(206, 67, 7);
$whiteColor: rgb(255, 255, 255);
$platinumColor: rgb(233, 233, 233);
$veryPaleBlue: rgb(202, 202, 202);
$iridescentLightGray: rgb(153, 153, 153);
$blueGray: rgb(74, 74, 74);
$darkBrown: rgba(32, 32, 32, 0.85);
$darkColor: rgb(32, 32, 32);